body {
  margin: 0;
  padding: 0;
}

.container-mapa {
  position: relative;
  width: 98vw;
  height: 150vh;
  background-image: url("./PlanimetriaCanuelas.jpg");
  background-size: cover;
}

.container-mapa span {
  position: absolute;
  color: black;
  background-color: white;
  padding: 0.4vw;
  border-radius: 10px;
  font-size: 0.8vw;
  cursor: pointer;
}

.ala-izquierda-arriba {
  position: relative;
  width: 24vw;
  height: 8vh;
  top: 33.5vh;
}

.ala-izquierda-arriba .lote1 {
  left: 3.6vw;
}

.ala-izquierda-arriba .lote2 {
  left: 5.9vw;
}

.ala-izquierda-arriba .lote3 {
  left: 8vw;
}

.ala-izquierda-arriba .lote4 {
  left: 10vw;
}

.ala-izquierda-arriba .lote5 {
  left: 12vw;
}

.ala-izquierda-arriba .lote6 {
  left: 14.2vw;
}

.ala-izquierda-arriba .lote7 {
  left: 16.2vw;
}

.ala-izquierda-arriba .lote8 {
  left: 18.3vw;
}

.ala-izquierda-arriba .lote9 {
  left: 20.4vw;
}

.ala-izquierda-arriba .lote10 {
  left: 22.3vw;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  padding: 20px;
}
